/********************************************
                Header
*********************************************/
#componentHeader {
  width: 100%;
  background-color: var(--darkGray);
}

.headerTitle {
  color: var(--lightCream);
  font-weight: 800;
  padding: 10px 10px;
}

.headerItem {
  text-align: right;
  padding-right: 70px;
  color: white;
  font-weight: 800;
}

.headerDD{
  min-width: 250px;
}

.ddItem {
  text-align: right;
  padding-right: 70px;
}